* {
    padding: 0;
    margin: 0;
    font-family: "American Typewriter";
    text-align: center;
    box-sizing: border-box;
}
body {
    background-image: url('images/background.jpg');
}
.title {
    font-size: 10vh;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
    color: white;
}
.start-game-modal {
    top: 25vh;
}
.start-game-button {
    padding: 4vh 10vh;
    font-weight: bold;
    font-size: 5vh;
    text-shadow: 3px 3px 8px black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-text {
    font-size: 1.5em;
}
.start-game-modal {
    top: 25vh;
}
.start-game-button {
    padding: 4vh 10vh;
    font-weight: bold;
    font-size: 5vh;
}
.game-container {
    margin-top: 0vh;
    height: 80vh;
}
.game-area-parent {
    width: 100%;
    height: 100%;
}
.game-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
}
.stat-container {
    height: 50vh;
    margin: 15vh 0 0 3vw;
    background-color:rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2%;
}
.cells {
    height: 25vh;
    background-color:rgba(0, 0, 0, 0.1);
    box-shadow: 15px 15px 15px grey;
    display: flex;
    align-items: center;
    justify-items: center;
    transition-duration: 1.25s;
    transform-style: preserve-3d;
}
.cells:hover {
    box-shadow:
            1px 1px #dbdbd9,
            2px 2px #dbdbd9,
            3px 3px #dbdbd9;
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
}
.stat-text {
    margin-top: 0.8vh;
    font-size: 3vh;
    font-weight: bold;
}
.score {
    padding-top: 1.5vh;
    color: white;
    font-size: 3vh;
    text-shadow: 3px 3px 3px black;
}
.player {
    font-size: 3vh;
    padding: 1.5vh;
}
.player-turn {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: ghostwhite;
    text-decoration: underline;
    text-shadow: 3px 3px 3px black;
}
.reset_button {
    margin-top: 6vh;
    background-color: darkred;
    border-radius: 10%;
    color: white;
    padding: 0.3em;
    font-size: 3vh;
}

.x {
    position: absolute;
    margin-top: 8%;
    margin-left: 15%;
    height: 75%;
    width: 75%;
    /*transform: rotate3D(0,1,0, 180deg);*/
}
.o {
    position: absolute;
    margin-top: 9%;
    margin-left: 13%;
    height: 75%;
    width: 75%;
    /*transform: rotate3D(0,1,0, 180deg);*/
}
.x-wins, .o-wins {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 45vw;
    height: 22vh;
    top: 28%;
    left: 16%;
    font-weight: bold;
    font-size: 10vh;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cats-game {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40vw;
    height: 28vh;
    top: 23%;
    left: 19%;
    font-weight: bold;
    font-size: 5vh;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.catsgame-img {
    width: 20vw;
    height: 30vh;
}
.x-wins-img, .o-wins-img {
    width: 15vw;
    height: 20vh;
    padding-left: 1vw;
}
.modal.fade{
    -webkit-transition: opacity .2s linear, none;
    -moz-transition: opacity .2s linear, none;
    -ms-transition: opacity .2s linear, none;
    -o-transition: opacity .2s linear, none;
    transition: opacity .2s linear, none;
    top: 20vh;
}

/*************************** PORTRAIT ***************************/
@media (min-width: 320px) and (max-width: 579px) {
    .title {
        font-size: 7vh;
        text-shadow: 1px 1px 1px black;
        margin-left: 17px;
        text-align: left;
        margin-bottom: 0;
    }

    .modal-content {
        margin-left: 4px;
    }

    .modal-dialog {
        margin: 0 45px 0 8px;
    }

    .modal.fade {
        top: 10vh;
    }

    .stat-container {
        position: absolute;
        top: 52vh;
        height: 23vh;
        width: 85vw;
        margin-left: 14px;
    }

    .start-game-button {
        padding: 2vh 10vw;
        font-size: 4vh;
        margin-left: 4px;
    }

    .modal-title {
        font-size: 23px;
    }

    .cells {
        box-shadow: 0 0 1px grey;
    }

    .game-area {
        height: 70%;
        width: 101%;
    }

    .x-wins, .o-wins {
        width: 75vw;
        height: 24vh;
        top: 13%;
        left: 8%;
        font-size: 40px;
    }

    .x-wins-img, .o-wins-img {
        width: 30vw;
        height: 20vh;
        margin-top: 1.5vh;
    }

    .cats-game {
        width: 68vw;
        height: 28vh;
        top: 18%;
        left: 16%;
        font-size: 30px;
    }

    .catsgame-img {
        width: 35vw;
    }

    .score {
        padding-top: 0;
        font-size: 3vh;
    }

    .player-turn {
        transform: scale(1.1);
    }

    .stat-text {
        margin: 0;
    }

    .reset_button {
        margin-top: 0;
        margin-left: 2px;
        font-size: 11px;
        padding: 2px;
    }

    .player {
        padding: 0;
        font-size: 2vh;
    }

    .score {
        margin-bottom: 3px;
    }

    .game-container{
        height: 79vh;
        width: 91%;
    }
}

/*************************** LANDSCAPE ***************************/
@media (min-width: 580px) and (max-width: 767px) {
    .stat-container {
        height: 50vh;
        width: 20vw;
        position: absolute;
        right: 3vw;
        margin-top: 10vh;
    }

    .start-game-button {
        margin-left: 1vw;
    }

    .modal-dialog {
        width: 75vw;
        margin-top: 0;
        margin-left: 12.5vw;
    }

    #myModal {
        margin-top: -19vh;
    }

    .modal-content > * {
        padding: 0;
        margin: 0;
    }

    .modal-title {
        font-size: 25px;
    }

    .game-area {
        width: 75%;
        top: -3vh;
        position: relative;
    }

    .cells {
        box-shadow: 3px 3px 3px grey;
    }
}